body {
    background-color: rgb(93, 93, 93)
    
}
#everything {
    margin: 0px 0px 0px 20px;

}
#addPoints {
    position: relative;
    bottom: 20px;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    height: 50px;
    width: 230px
}

#buyable1 {
    position: relative;
    top: 70px;
    right: 234px;
    height: 100px;
    margin: 0px 0px 0px 0px;
    width: 100px;
    border-radius: 10px;
}

#buyable2 {
    position: relative;
    top: 70px;
    margin: 0px 0px 0px 0px;
    right:210px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

#upgrade1 {
    position: relative;
    top: 190px;
    right:442px;
    height: 70px;
    width: 230px;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
}