
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#ball {
  background-color: rgb(255, 0,255);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 200px;
  top: 200px;
  border-radius: 10px;
}

#wallLeft {
  background-color: rgb(0, 0, 255);
  width: 20px;
  height: 80px;
  position: absolute;
  left: 30px;
}

#wallRight {
  background-color: rgb(255, 0, 0);
  width: 20px;
  height: 80px;
  position: absolute;
  left: 390px;
}

#p1scdiv {
  background-color: rgb(0, 0, 255);
  width: 75px;
  position: relative;
  left: 1000;
}

#p2scdiv {
  background-color: rgb(255, 0, 0);
  width: 75px;
  position: relative;
  left: 1000;
}