
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}

#totalScore {
  color: white;
  position: relative;
  top: -510px;
  left: 475px;
}

#score {
  color: white;
}

.upgrade {
  color: white; 
  position: relative;
  top: -550px;
  left: 475px;
}
.upgrades {
  color: white; 
  background-color: black;
  position: relative;
  top: -550px;
  left: 475px;
}

#highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}
